aio-pika==6.6.1
aiormq==3.2.3
certifi==2020.6.20
click==7.1.2
fastapi==0.65.2
h11==0.9.0
httptools==0.1.1
idna==2.10
multidict==4.7.6
pamqp==2.3.0
Pillow==9.0.0
pydantic==1.6.1
redis==3.5.3
starlette==0.13.6
uvicorn==0.11.7
uvloop==0.14.0
websockets==9.1
yarl==1.5.0
